/* ReseñaSinUsuario.module.css */

.contenedorReseña {
    padding: 16px;
    background-color: #f7f7f7;
  }
  
  .tituloReseña {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
  }
  
  .successMessage {
    color: green;
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  
  .inputReseña {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #00F4D4;
    font-size: 1em;
    color: #333;
  }
  
  .inputReseña::placeholder {
    color: #999;
    text-align: center;
  }
  
  .botonEnviar {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #ffe600; /* Amarillo Mercado Libre */
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
  }
  .botonEnviar:hover {
    background-color: #2968c8;
  }
  